<%- include ('../../partials/header.ejs'); %>
    <%- include ('../../partials/navbar.ejs'); %>

        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h2>Novo Artigo</h2>
                </div>
                <div class="card-body">
                    <form action="/articles/save" method="POST">
                        <div class="form-group">
                            <label for="">Título do artigo</label><br>
                            <input type="text" class="form-control" name="title" aria-describedby="titleDescription" placeholder="Defina ooo título do artigo"><br>
                            <textarea name="body" id="article" class="form-control" placeholder="Escreva o artigo aqui"></textarea><br>
                            <label for="">Categoria</label>
                            <select name="category" id="" class="form-control">
                                <% categories.forEach((category) =>{ %>
                                    <option value="<%= category.id %>"><%= category.title %></option>

                                <%  }) %>
                            </select> 
                            <br>
                            <button class="btn btn-primary">Cadastrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>


<%- include('../../partials/footer.ejs'); %>
<script src="/tinymce/tinymce.min.js"></script>
<script>

    tinymce.init({
        selector: "#article", // Diz qual Textarea irá ser vinculada ao tinymce, através do ID da textarea
        plugins: [
            //Plugins que adicionam funcionalidades ao editor de texto
            'advlist autolink link image lists print preview hr searchreplace wordcount'
        ]
    })

</script>